html {
  font-family: 'Updock', cursive;
  color: #FFF9F0;
  background-color: #4A6D86;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: hidden;    
}

h1, span {
  font-size: calc(3rem + 1vw);
  text-align: center;
}

span {
  display: block;
}

header section img {
  height: 30vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  block-size: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  outline: 0.5vh solid #FFF9F0;
}

.love {
  width: 30vh;
}

.img {
  max-width: 90vw;
  max-height: 87vh;
  border: 3vh solid #4A6D86;
  box-shadow: 10px 10px 40px 0 rgba(0,0,0,0.4);
  outline: 0.5vh solid #FFF9F0;
}

.arrow-up {
  position: fixed;
  bottom: 1vh;
  align-items: center;
  width: 4vh;
  height: 4vh;
  background-color: #4A6D86;
  outline: 0.5vh solid #FFF9F0;
  border-radius: 50%;
  box-shadow: 10px 10px 40px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}

.arrow-down {
  position: fixed;
  top: 1vh;
  align-items: center;
  width: 4vh;
  height: 4vh;
  background-color: #4A6D86;
  outline: 0.5vh solid #FFF9F0;
  border-radius: 50%;
  box-shadow: 10px 10px 40px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}